# Dependency directories
node_modules/
jspm_packages/
.npm/

# Build output
dist/
build/
out/
lib/
*.tsbuildinfo

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS Files
.DS_Store
Thumbs.db
*.swp

# Testing
coverage/
.nyc_output/

# Environment Variables
.env
.env.*
!.env.example

# IDEs and editors
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Runtime & Process
pids/
*.pid
*.seed
*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Temp directories
.temp/
.tmp/

# Uploads & Reports
uploads/
/src/audit-reports/

# Stray files
/main.ts
cookies_*.txt